<div class="sideMenu" fxLayout ="column" >
  <div id="carre">
    <!--<mat-card id="vert"></mat-card>
    <mat-card id="blanc"></mat-card>-->
  </div>
  <div class="coord">
      <p>Profil</p>
      <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Mohammed Fabriquant</mat-card-title>
            <mat-card-subtitle>EDT</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
  </div>
  <div id="sous-menu" fxLayout="column" fxLayoutAlign="start start">
    <a routerLinkActive="active" mat-button routerLink="/gestion/modeles" >Modèles</a>
    <a mat-button routerLink="." >Versions</a>
    <a mat-button routerLink="." >Options</a>
    <a mat-button routerLink="." >Couleurs</a>
  </div>

</div>
