<div class="sideMenu" fxLayout="column">
  <div id="carre">
    <!--<mat-card id="vert"></mat-card>
    <mat-card id="blanc"></mat-card>-->
  </div>
  <div class="coord">
    <p>Profil</p>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image src = "{{user.utilfab.images[0].CheminImage}}" >
        </div>
        <mat-card-title>{{user.utilfab.Nom}} {{user.utilfab.Prenom}}</mat-card-title>
        <mat-card-title>{{user.utilfab.marque.NomMarque}}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div id="sous-menu" fxLayout="column" fxLayoutAlign="start start">
    <a mat-button routerLinkActive="active" *ngFor="let item of sousMenus" routerLink="{{item.lien}}">{{item.nom}}</a>
  </div>

</div>
