<div class="gestion">
  <div fxLayout="row wrap">
    <h2 fxFlex="60">Gestion des versions du modèle </h2>
    <mat-select fxFlex="25"[(value)]="modelId" (selectionChange)="changerOptions($event)">
      <mat-option>Choisissez un model</mat-option>
      <mat-option *ngFor="let modele of modeles" [value]="modele.CodeModele"> {{modele.NomModele}}</mat-option>
    </mat-select>
  </div>
  <div id="trait"></div>
  <div fxLayout="row">
    <div fxFlex="70">
      <mat-select [(value)]="modelId" (selectionChange)="changerOptions($event)">
        <mat-option>Choisissez un model</mat-option>
        <mat-option *ngFor="let modele of modeles" [value]="modele.CodeModele"> {{modele.NomModele}}</mat-option>
      </mat-select>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="Rechercher un modèle" value="">
        </mat-form-field>
      </form>
    </div>
    <button mat-button fxFlex='20' mat-stroked-button (click)="openModal()" class="ajouter">Ajouter une version</button>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="versionDataSource">
      <ng-container matColumnDef='CodeVersion'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>code</mat-icon>
          CODE
        </mat-header-cell>
        <mat-cell *matCellDef="let version"> {{version.CodeVersion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef='NomVersion'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>directions_car</mat-icon>
          VERSION
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let version"> {{version.NomVersion}} </mat-cell>
      </ng-container>

     <ng-container matColumnDef='modele'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>directions_car</mat-icon>
          MODELE
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let version"> {{version.CodeModele}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef='options'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>assignment_turned_in</mat-icon>
          OPTIONS
        </mat-header-cell>
        <mat-cell *matCellDef="let version" fxLayout="column" fxLayoutAlign="start start">
          <ul>
            <li *ngFor="let option of version.options">
              {{option.NomOption}}
            </li>
          </ul>
          <a routerLink=".">+ d'aptions </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gestion">
        <mat-header-cell *matHeaderCellDef><i class="material-icons">tune</i> GESTION</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let version">
          <a routerLink=".">
            <mat-icon class="vert">edit</mat-icon>
          </a>
          <a routerLink=".">
            <mat-icon class="rouge" (click)="supprimerVersion(version)" >delete</mat-icon>
          </a>
          <a routerLink=".">
            <mat-icon>more_vert</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>


</div>
