<div class="gestion">
  <h2>Gestion des Tarifs des Options </h2>
  <div id="trait"></div>
  <div fxLayout="row">
    <div fxFlex="70">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="text" (keyup)="appliquerFiltre($event.target.value)" placeholder="Rechercher une option" value="">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="optionDataSource" matSort>
      <ng-container matColumnDef='CodeOption'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Code Option
        </mat-header-cell>
        <mat-cell *matCellDef="let option"> {{option.CodeOption}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef='NomOption'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nom Option
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let option"> {{option.NomOption}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef='NomModele'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Modele
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let option"> {{option.NomModele}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef='Apartir'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          A partir du
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let option"> <span *ngIf="option.lignetarif!==null">{{option.lignetarif.DateDebut}} </span> </mat-cell>
      </ng-container>
      <ng-container matColumnDef='Jusqua'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Jusqu'au
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let option"> <span *ngIf="option.lignetarif!==null">{{option.lignetarif.DateFin}} </span> </mat-cell>
      </ng-container>
      <ng-container matColumnDef='Prix'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Prix
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let option"> <span *ngIf="option.lignetarif!==null">{{option.lignetarif.Prix}} </span> </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <!-- <app-upload-fichier></app-upload-fichier>-->


</div>
