<div fxLayout="row" fxLayoutAlign="start center">
  <div id="app">
    <img src="/assets/images/Pics/app.png">
  </div>
  <div id="services">
    <h6 class="centre">Nos Services</h6>
    <div id="trait" class="centre"></div>
    <p class="centre">Vous n'êtes pas un fabriquant? essayez notre application mobile pour trouver votre prochaine voiture</p>
    <br>
    <div class="centre" fxLayout="row" fxLayoutAlign="start center">
      <img src="/assets/images/Icons/checked.png">
      <p>Commandez une voiture neuf ou utilisée selon votre budget et désir</p>
    </div>
    <div class="centre" fxLayout="row" fxLayoutAlign="start center">
      <img src="/assets/images/Icons/checked.png">
      <p>Suivez votre commande et versez votre argent en toute fiabilité</p>
    </div>
    <div class="centre" fxLayout="row" fxLayoutAlign="start center">
      <img src="/assets/images/Icons/checked.png">
      <p>Vendez vos autombiles utilisés et choisiez l'offre qui vous convient</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" id="playStore">
      <p id="téléchargez">Téléchargez l'application Sayara Mobile maintenant ! </p>
      <a mat-raised-button routerLink="." id="playStore">
        <img src="/assets/images/Icons/playStore.png"> Sur Play Store</a>
      <a mat-raised-button routerLink="." id="appStore">
        <img src="/assets/images/Icons/app-store.png"> Sur App Store</a>
    </div>
  </div>
</div>

