<div fxLayout="row" fxLayoutAlign="start center">
  <div id="app">
    <img src="/assets/images/Pics/app.png">
  </div>
  <div id="services" >
      <h6 class="centre">Nos Services</h6>
      <div id="trait" class="centre"></div>
      <p class="centre">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio repellendus quam quis iure, aliquam rerum</p>
      <br>
      <div class="centre" fxLayout="row" fxLayoutAlign="start center">
          <img src="/assets/images/Icons/checked.png" >
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, facere voluptatum fugit .</p>
      </div>
      <div class="centre" fxLayout="row" fxLayoutAlign="start center">
          <img src="/assets/images/Icons/checked.png" >
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, facere voluptatum fugit  .</p>
      </div>
      <div class="centre" fxLayout="row" fxLayoutAlign="start center">
          <img src="/assets/images/Icons/checked.png" >
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, facere voluptatum fugit.</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" id="playStore">
          <p id="téléchargez">Téléchargez l'application Sayara Mobile maintenant ! </p>
          <a mat-raised-button routerLink="." id="playStore">
              <img src="/assets/images/Icons/playStore.png" >  Sur Play Store</a>
          <a mat-raised-button routerLink="." id="appStore" >
              <img src="/assets/images/Icons/app-store.png" >  Sur App Store</a>
      </div>
  </div>
</div>

