<div>
  <div id="degrade"></div>
  <div class="mat-card-wrapper" ng-app="myapp">
    <mat-card>
      <img src="./assets/images/Pics/Footer.png">
    </mat-card>
    <div fxLayout="row" class="footer">
      <div fxFlex="20">
        <img src="./assets/images/Icons/try5.png">
        <p class="gris">Droits réservés - SayaraDz</p>
        <p class="gris">2018-2019</p>
      </div>
      <div fxFlex="18" fxLayout="column" fxLayoutAlign="start start">
        <a mat-button disabled>A propos</a>
        <a mat-button color="white">Qui sommes nous</a>
        <a mat-button color="white">Nos offres</a>
        <a mat-button color="white">Nos services</a>
        <a mat-button color="white">Fabriquants</a>
        <a mat-button color="white">FAQs</a>
      </div>
      <div fxFlex="25" fxLayout="column" fxLayoutAlign="start start">
        <p>Contactez nous</p>
        <div fxLayout="row" fxLayoutAlign="start start">
          <p>Mail</p>
          <p class="gris">SayaraDz@esi.dz</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <p>Téléphone</p>
          <p class="gris">098765432</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
          <p>Fax</p>
          <p class="gris">09876543222</p>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start start">
        <p>Suivez nous sur </p>
        <div fxLayout="row" fxLayoutAlign="center start">
          <a mat-button color="white"> <img src="./assets/images/Icons/facebook.png"></a>
          <a mat-button color="white"> <img src="./assets/images/Icons/gmail.png"></a>
          <a mat-button color="white"> <img src="./assets/images/Icons/linkedin.png"></a>
        </div>
      </div>

    </div>
  </div>
</div>
