<mat-dialog-content>
  <div  fxLayout="row" fxLayoutAlign="space-between start" >
    <div fxLayout="column">
      <h1 mat-dialog-title style="margin: 0">Ajouter une version</h1>
      <div id="trait"></div>
    </div>
    <button mat-icon-button type="submit"  mat-dialog-close [disabled]="formisvalid">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="formulaire" (ngSubmit)="onSubmit()"#f="ngForm" novalidate id="formulaireHtml">
    <div fxLayout="row wrap">
      <div fxFlex="25"
           fxFlex.md="33"
           fxFlex.sm="50"
           fxFlex.xs="100" fxLayout="column">
        <span class="label">Code</span>
        <input matNativeControl matInput required formControlName="code" class="input">
      </div>
      <div fxFlex="70"
           fxFlex.md="67"
           fxFlex.sm="50"
           fxFlex.xs="100" fxLayout="column">
        <span class="label">Designation</span>
        <input matInput required formControlName="nom" class="input">
      </div>
    </div>

    <div class="row">
      <div class="col-11">
        <i class="material-icons">
          bookmarks
        </i>
        <span class="label">Options</span>
        <br/>
        <div fxLayout="column" fxLayoutAlign="center start" id="options"  >
          <mat-checkbox *ngFor="let option of options" color="primary" [value]="option.CodeOption"   [checked]="option.Checked" (change)="gererOptions($event, option)">{{option.NomOption}}</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-11">
        <i class="material-icons">
          party_mode
        </i>
        <span class="label">Photos</span>
        <br/>
        <i class="material-icons iajouter" >
          add
        </i>
        <label  class="image-upload-container btn btn-bwm">
          <span class="ajouter">Ajouter une Photo</span>
          <input  ng2FileSelect accept=".png" [uploader]="uploader" #imageInput id="imageVersion"
                 type="file"
                 accept="image/*"
                 (change)="processFile(imageInput)" multiple/><br/>
        </label>
        <div *ngFor="let selected of selectedFile" class="img-preview-container" fxLayout="row" fxLayoutAlign="center center">
          <div class="img-preview{{selected.status === 'fail' ? '-error' : ''}}"
               [ngStyle]="{'background-image': 'url('+ selected.src + ')'}">
          </div>

          <div *ngIf="selected.pending" class="img-loading-overlay">
            <div class="img-spinning-circle"></div>
          </div>
          <button mat-icon-button  (click)="supprimerImage(selected)">
            <mat-icon class="rouge" >delete</mat-icon>
          </button>

        </div>
      </div>
    </div>
  </form>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
    <button type="submit" class="btn-ajout" (click)="onSubmit()">Valider</button>
  </div>
</mat-dialog-content>

