<div class="gestion">
  <h2>Gestion des modèles </h2>
  <div id="trait"></div>
  <div fxLayout="row">
    <div fxFlex="70">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="text" (keyup)="appliquerFiltre($event.target.value)" placeholder="Rechercher un modèle" value="">
        </mat-form-field>
      </form>
    </div>
    <button mat-button fxFlex='20' mat-stroked-button (click)="ajouterModele()" class="ajouter">Ajouter un modèle</button>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef='CodeModele'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>code</mat-icon>
          CODE
        </mat-header-cell>
        <mat-cell *matCellDef="let modele"> {{modele.CodeModele}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef='NomModele'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-icon>directions_car</mat-icon>
          MODELE
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let modele"> {{modele.NomModele}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef='versions'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>bookmark</mat-icon>
          VERSIONS
        </mat-header-cell>
        <mat-cell *matCellDef="let modele">
          <ul>
            <li *ngFor="let version of modele.versions">
              {{version.NomVersion}}
            </li>
          </ul>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef='options'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>assignment_turned_in</mat-icon>
          OPTIONS
        </mat-header-cell>
        <mat-cell *matCellDef="let modele" fxLayout="column" fxLayoutAlign="start start">
          <ul>
            <li *ngFor="let option of modele.options  | slice:0:5" >
              {{option.NomOption}}
            </li>
          </ul>
          <div *ngIf="(modele.options.length > 5)">
            <a  [routerLink]="['/gestion/options', modele.CodeModele]" >+ d'aptions </a>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef='couleurs'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>invert_colors</mat-icon>
          COULEURS
        </mat-header-cell>
        <mat-cell *matCellDef="let modele" fxLayout="column" fxLayoutAlign="start start">
          <ul>
            <li *ngFor="let couleur of modele.couleurs  | slice:0:5">
              {{couleur.NomCouleur}}
            </li>
          </ul>
          <div *ngIf="(modele.options.length > 5)">
            <a  [routerLink]="['/gestion/couleurs', modele.CodeModele]" >+ de couleurs </a>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gestion">
        <mat-header-cell *matHeaderCellDef id="gestion"><i class="material-icons">tune</i> GESTION</mat-header-cell>
        <mat-cell *matCellDef="let modele">
          <button mat-icon-button (click)="modifierModele(modele)"  >
            <mat-icon class="vert">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="supprimerModele(modele)">
            <mat-icon class="rouge" >delete</mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon class="bleu">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item [routerLink]="['/gestion/versions', modele.CodeModele]">
              <span>Gérer les versions</span>
            </a>
            <button mat-menu-item (click)="afficherFiche(modele)">
              <span>Fiche technique</span>
            </button>
          </mat-menu>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <img *ngIf="loading" class="loadingImage pl-3"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
         alt="Loading-Photo"/>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


</div>
