
<div id="nosClients" fxFlex="row" fxLayoutAlign="start">
  <div id="text">
    <h6>They trusted us</h6>
    <div class="trait"></div>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. In, perferendis quidem ratione esse ipsum eaque dicta dolores tempora officiis quaerat facere ea. Dolores minus quam dolorem autem enim delectus tenetur.orem ipsum dolor sit amet consectetur adipisicing elit. In, perferendis quidem ratione esse ipsum eaque dicta dolores tempora officiis quaerat facere ea. Dolores</p>
  </div>
  <div  id="logos" fxLayout="column" fxLayoutAlign="space-around start" >
    <mat-card id="card1">
        <img src="/assets/images/Icons/huyndai.png" >
    </mat-card>
    <mat-card id="card2">
        <img src="/assets/images/Icons/cima.jpg" >
    </mat-card>
    <mat-card id="card3">
        <img src="/assets/images/Icons/ford.png" >
    </mat-card>
    
  </div>
</div>