<div id="nosClients" fxFlex="row" fxLayoutAlign="start">
  <div id="text">
    <h6>Ils nous ont fait confiance</h6>
    <div class="trait"></div>
    <p>Grâce à nos divers services offerts par cette platforme, plusieurs fournisseurs
      nous ont fait confiance en s'abonnant à notre système.</p>
  </div>
  <div id="logos" fxLayout="column" fxLayoutAlign="space-around start">
    <mat-card id="card1">
      <img src="/assets/images/Icons/huyndai.png">
    </mat-card>
    <mat-card id="card2">
      <img src="/assets/images/Icons/cima.jpg">
    </mat-card>
    <mat-card id="card3">
      <img src="/assets/images/Icons/ford.png">
    </mat-card>

  </div>
</div>
