<mat-dialog-content>
  <div  fxLayout="row" fxLayoutAlign="space-between start" >
    <div fxLayout="column">
      <h1 mat-dialog-title style="margin: 0">Fiche technique de la version {{version.NomVersion}}</h1>
      <div id="trait"></div>
    </div>
    <button mat-icon-button type="submit" (click)="Fermer()" mat-dialog-close [disabled]="formisvalid">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div>
    <h4>Les options asscoiées à cette version : </h4>
    <ul>
      <li *ngFor="let option of version.options ">
        {{option.NomOption}}
      </li>
    </ul>
    <br>
    <h4>Les Photos : </h4>
    <div *ngFor="let selected of selectedFile" class="img-preview-container" fxLayout="row" fxLayoutAlign="center center">
      <div class="img-preview{{selected.status === 'fail' ? '-error' : ''}}"
           [ngStyle]="{'background-image': 'url('+ selected.src + ')'}">
      </div>

      <div *ngIf="selected.pending" class="img-loading-overlay">
        <div class="img-spinning-circle"></div>
      </div>
    </div>
  </div>


</mat-dialog-content>
