<div class="gestion" fxLayout="column">
  <div fxLayout="row">
    <h2 fxFlex="60">Gestion des couleurs du modèle </h2>
  </div>
  <div id="trait"></div>
  <div fxLayout="row">
    <div fxFlex="70">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="Rechercher une couleur" (keyup)="appliquerFiltre($event.target.value)" value="">
        </mat-form-field>
      </form>
    </div>
    <button mat-button fxFlex='20' mat-stroked-button (click)="ajouterCouleur()" class="ajouter">Ajouter une couleur</button>
  </div>
  <div id="selector">
    <mat-select [(value)]="modelId" (selectionChange)="changerCouleurs($event)" placeholder="Choisissez un modèle">
      <mat-option>Choisissez un model</mat-option>
      <mat-option *ngFor="let modele of modeles" [value]="modele.CodeModele"> {{modele.NomModele}}</mat-option>
    </mat-select>
  </div>
  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource">


      <ng-container matColumnDef='CodeCouleur'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>code</mat-icon>
          CODE COULEUR
        </mat-header-cell>
        <mat-cell *matCellDef="let couleur"> {{couleur.CodeCouleur}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef='NomCouleur'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>directions_car</mat-icon>
          NOM COULEUR
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let couleur"> {{couleur.NomCouleur}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef='Hexa'>
        <mat-header-cell *matHeaderCellDef>
          <mat-icon>directions_car</mat-icon>
          COULEUR
        </mat-header-cell>
        <mat-cell class="gras" *matCellDef="let couleur" >
          <div fxLayout="column" class="color-div">
              <div class="circle-color"
                   [(colorPicker)]="couleur.CodeHexa" [style.background]="couleur.CodeHexa" >
              </div>
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gestion" >
        <mat-header-cell *matHeaderCellDef id="gestion"><i class="material-icons">tune</i> GESTION</mat-header-cell>
        <mat-cell *matCellDef="let couleur">
          <button mat-icon-button (click)="modifierCouleur(couleur)"  >
            <mat-icon class="vert">edit</mat-icon>
          </button>
          <button mat-icon-button  (click)="supprimerCouleur(couleur)">
            <mat-icon class="rouge" >delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <img *ngIf="loading" class="loadingImage pl-3"
         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
         alt="Loading-Photo"/>
  </div>


</div>
