<mat-dialog-content>
  <div  fxLayout="row" fxLayoutAlign="space-between start" >
    <div fxLayout="column">
      <h1 mat-dialog-title style="margin: 0">Modifier une Option</h1>
      <div id="trait"></div>
    </div>
    <button mat-icon-button type="submit" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="formulaire" (ngSubmit)="modifierOption()" novalidate id="formulaireHtml">
    <div fxLayout="row wrap">
      <div fxFlex="25"
           fxFlex.md="33"
           fxFlex.sm="50"
           fxFlex.xs="100" fxLayout="column">
        <label>
          <span class="label">Code</span>
          <input disabled="true" formControlName="code" class="input" value="{{option.CodeOption}}">
        </label>
      </div>
      <div fxFlex="70"
           fxFlex.md="67"
           fxFlex.sm="50"
           fxFlex.xs="100" fxLayout="column">
        <label>
          <span class="label">Designation</span>
          <input matInput required formControlName="nom" class="input" value="{{option.NomOption}}">
        </label>
      </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
      <button type="submit" class="btn-ajout">Valider</button>
    </div>
  </form>
</mat-dialog-content>
