div.gestion {
  margin: 5%;
  width: 1000px;
  padding-bottom: 300px;

  .gras {
    font-weight: bold;
  }

  h2 {
    margin-bottom: 6px;
    font-size: 30px;
    font-family: 'Roboto-Thin', 'Sherif', serif;

  }
  div#selector {
    margin-top: 30px;
    width: 200px;
  }

  div#trait {
    width: 60px;
    border-top: 3px solid #3498d8;
    margin-bottom: 25px;
    margin-left: 2px
  }

  div {
    width: 100%;

    div {
      .example-form {
        width: 70%;
        height: 44px;
        padding: 0;

        div {
          background-color: transparent;
        }

        .example-full-width {
          width: 100%;
        }
      }


    }

    button {
      color: white;
      line-height: 3;
      font-weight: bold;
      font-family: 'Lato', sans-serif;
      border-radius: 10px;
      font-size: 13px;
    }

  }


  .example-container {
    width: 96%;
    background-color: transparent;
    margin-top: 5%;
    overflow: auto;
    padding: 0;


    mat-table {
      width: 100%;
      margin: 0;
      box-shadow: 1.5px 1.5px #95a5a6;

      mat-row {
        padding: 1% 0;
        border-bottom: 3px solid #ecf0f1;

        img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
        
        .vert-check{
          color: #74e8a0;
        }
        
        .jaune-check{
          color: #DCB32D;
        }

        mat-cell {
          button {
            padding-left: 5px;
            padding-right: 5px;
          }

          button.accepter{
            background: #1ABC9C;
            color: #ffffff;
            font-size: 11px;
            margin-bottom: 3px;
          }
          button.refuser{
            background: #A40A0A;
            color: #ffffff;
            font-size: 11px;
          }
          button.refuse {
            background: #ECF0F1;
            color: #A40A0A;
            border-radius: 15px;
            border-width: 0px;
          }

          button.accepte {
            background: #ECF0F1;
            color: #1ABC9C;
            border-radius: 15px;
            border-width: 0px;
          }
          button.annule {
            background: #ECF0F1;
            color: #DCB32D;
            border-radius: 15px;
            border-width: 0px;
          }
          padding: 0 2%;
          button{
            mat-icon {
              margin-right: 3%
            }

            mat-icon.vert {
              color: #16a085;
            }

            mat-icon.rouge {
              color: firebrick;
            }

            mat-icon.bleu {
              color: #2ebcfc;
            }
          }

        }

        ul {
          padding: 0;
          margin-bottom: 0;
          color: black;
        }

        a {
          color: #3498d8;
          border: 0;

        }

        button {
          color: #3498d8;
          border: 0;
          padding: 0px;
        }
      }

      .circle-color{
        border-radius: 50%;
        border: 1px solid #000000;
        height: 40px;
        width: 40px;
        background: #424242;
      }

      ng-container {
        mat-cell {
          padding: 0 2%;
        }
      }


      mat-header-row {
        background-color: #ecf0f1;
        justify-content: center;

        mat-header-cell {
          color: #2c3e50;
          font-size: 80%;
          font-family: 'Roboto-Bold', serif;

          mat-icon {
            margin-right: 5px;
          }
        }


      }


    }

  }




}

