<div class="container">
  <div class="row">
    <div id="colonneGauche" class="col s5">
      <div id="formulaire">
        <div>
          <img id="logo" src="assets/images/Pics/logo.png" alt="logoSayaraDz"/>
        </div>
        <h2 style="margin-bottom: 0">Connexion</h2>
        <HR align=center width="40%">

        <p>Accedez à votre compte pour gerer votre stock</p>
        <form name="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div>
            <input required type="text" id="username" name="username" placeholder="Adresse Mail"
                   formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
            <div *ngIf="submitted && f.username.errors" class="requiredMessage">Veuillez Remplir ce champ</div>
          </div>
          <div>
            <input required placeholder="mot de passe" id="password" type="password" name="password"
                   formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
            <div *ngIf="submitted && f.password.errors" class="requiredMessage">Veuillez Remplir ce champ</div>
          </div>
          <app-alert></app-alert>
          <div>
            <input type="submit" [disabled]="loading" id="btn-connexion" value="Connectez-vous">
            <br/>
            <img *ngIf="loading" class="pl-3"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                 alt="Loading-Photo"/>
          </div>
        </form>
      </div>
    </div>

    <div id="colonneDroite" class="col s7" style="vertical-align:middle; text-align:center; display: inline-block;
   position: relative;">
      <img align="center" id="handshake" src="assets/images/Pics/handshake.jpg" alt="logoSayaraDz"
           style=" max-height: 100%;max-width: 100%; width: auto;height: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;"/>
      <br/>
    </div>
  </div>
</div>

