#btn-connexion {
  width: 60%;
  height: 58px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 18px;
  background-image: linear-gradient(101deg, #34749f 0%, #22c6a6 100%);
  color: #ffffff;
}

#formulaire {
  height: 87%;
  position: relative;
  right: -130px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  background-color: #fbf9f9;
  width: 88%;
  z-index: 1;
}

#colonneGauche {
  width: 38%;
  background-color: #ecf0f1;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-image: url("/assets/images/Pics/Footer-loginPage.png");
}


input[type="text"], input[type="password"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 10px auto;
  width: 60%;
}

html, body, app, router-outlet, #colonneGauche, #colonneDroite {
  min-height: 100vh;
}

h2 {
  color: #000000;
  font-family: Roboto, serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 70px;
  padding-bottom: 0;
}

HR {
  margin-top: 0;
  border: 1px solid #579dc6;
}

#colonneDroite {
  width: 62%;
  background-color: #2980B9;
  opacity: 0.8;
}

#logo {
  margin-top: 10%;
  height: 100px;
  margin-bottom: 10%;
}

.carousel {
  margin-top: 20%;
}

#carousel img {
  display: block;
  float: left;
  border: none;
  position: relative;
}

.carousel .carousel-item {
  visibility: visible;
}


