<div class="container-fluid">
  <div class="row">
    <div id="colonneGauche" class="col-5">
      <div id="formulaire">
        <div>
          <img id="logo" src="assets/images/Pics/logo.png" alt="logoSayaraDz"/>
        </div>
        <h2>Connexion</h2>
        <HR align=center size=8 width="20%">

        <p>Accedez à votre compte pour gerer votre stock</p>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <input id="username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required
                   placeholder="Nom ou Email"/>
            <div *ngIf="f.submitted && !username.valid">Username is required</div>
          </div>
          <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input id="password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel"
                   required placeholder="mot de passe"/>
            <div *ngIf="f.submitted && !password.valid">Password is required</div>
          </div>
          <div>
            <button [disabled]="loading" id="btn-connexion">Connectez-vous</button>
            <img alt="loading" *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </div>
        </form>
      </div>
    </div>

    <div id="colonneDroite" class="col-7">
      <!--
        <div id="wrapper">
            <div id="carousel">
                <img src="assets/images/handshake.jpg" width="600" height="400" />
                <img src="assets/images/finance.jpeg" width="600" height="400" />
                <img src="assets/images/stock.jpg" width="600" height="400" />
                <img src="assets/images/handshake.jpg" width="600" height="400" />
                <img src="assets/images/finance.jpeg" width="600" height="400" />
                <img src="assets/images/stock.jpg" width="600" height="400" />
            </div>
        </div>
        -->
      <div class="carousel" id="ogin-carousel">
        <a class="carousel-item" href="#one"><img src="assets/images/handshake.jpg">
          <p>Test1</p></a>
        <a class="carousel-item" href="#two"><img src="assets/images/finance.jpeg">
          <p>Test2</p></a>
        <a class="carousel-item" href="#three"><img src="assets/images/stock.jpg">
          <p>Test3</p></a>
      </div>
    </div>
  </div>
</div>

