<div class="stock">
  <h2>Consultation su stock</h2>
  <div class="trait vert"></div>
  <div fxLayout="row" fxLayoutGap="30px" class="container" fxLayoutAlign="center center">
    <mat-card class="example-card vert" >
      <mat-card-header >
        <mat-card-title class="vert">STOCK</mat-card-title>
        <mat-card-subtitle> 275 Véhicules en STOCK</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card bleu">
      <mat-card-header>
        <mat-card-title class="bleu">Historique de l'upload</mat-card-title>
        <mat-card-subtitle>Dernière update a été effectuée Une semaine</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card violet" >
      <mat-card-header >
        <mat-card-title class="violet">Tarifs</mat-card-title>
        <mat-card-subtitle>Dernière update a été effectuée Hier</mat-card-subtitle>
      </mat-card-header>
    </mat-card>


  </div>

  <div fxLayout="row">
    <div fxFlex="80">
      <h2>Stock de véhicules </h2>
      <div class="trait bleu"></div>
    </div>
    <div fxFlex='20'>
      <button mat-button  mat-stroked-button  class="bleu">Uploader Fichier</button>
    </div>
  </div>

  <div fxLayout="row" class="recherche">
    <div fxFlex="50">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="text"  placeholder="Rechercher un véhicule" value="">
        </mat-form-field>
      </form>
    </div>

    <div fxFlex="50">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="text"  placeholder="ajouter un filtre" value="">
        </mat-form-field>
      </form>
    </div>

  </div>

  <div class="example-container mat-elevation-z8">


    <table mat-table
           [dataSource]="vehiculesDataSource" multiTemplateDataRows
           class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail1">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand1]="element == expandedElement1 ? 'expanded' : 'collapsed'">
            <div class="example-element-description">
              <mat-table [dataSource]=element.Vehicules multiTemplateDataRows >
                <ng-container matColumnDef='NumChassis'>
                  <mat-header-cell *matHeaderCellDef >
                    N°CHASSIS
                  </mat-header-cell>
                  <mat-cell *matCellDef="let vehicule"> {{vehicule.NumChassis}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Couleur'>
                  <mat-header-cell *matHeaderCellDef>
                    COULEUR
                  </mat-header-cell>
                  <mat-cell class="gras" *matCellDef="let vehicule" >
                    <div fxLayout="column" class="color-div">
                      <div class="circle-color"
                           [(colorPicker)]="vehicule.Couleur" [style.background]="vehicule.Couleur" >
                      </div>
                    </div>

                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef='PrixMin'>
                  <mat-header-cell *matHeaderCellDef>
                    PRIX MINIMAL
                  </mat-header-cell>
                  <mat-cell *matCellDef="let vehicule"> {{vehicule.PrixMin}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='détail'>
                  <mat-header-cell *matHeaderCellDef>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let vehicule">
                    <a routerLink="." class="detail">+ détails </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="expandedDetail2">
                  <mat-cell *matCellDef="let vehicule">
                    <div class="detailVehicule" fxLayout="row">
                      <div fxFlex="40" fxLayout="column">
                        <h4>ZERT26787 28</h4>
                        <img src="../../../../../assets/images/Pics/voiture.png"/>
                      </div>
                      <div fxLayout="column">
                        <h4> PRIX MIN 100.000.000 DZ</h4>
                        <ul slice>
                          <li>Direction assistée </li>
                          <li>Climatisation</li>
                          <li>Ordinateur de bord</li>
                          <li>ABS</li>
                          <li>Air bag fronteux</li>
                          <li>Air bag latéraux</li>
                          <li>Régulateurs de vitesse</li>
                          <li>Comndanation des portes en roulant</li>
                          <li>Lèves vitres électriques</li>
                          <li>Volant agréable en hauteur</li>
                          <li>Siège réglable en hauteur</li>
                          <li>Rétroviseur éléctrique</li>
                          <li>Garde au sol réhaussé</li>
                        </ul>

                      </div>
                    </div>

                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumnsVehicules"></mat-header-row>
                <mat-row *matRowDef="let row;  columns:  displayedColumnsVehicules;"
                         matRipple
                         class="element-row"
                         [class.example-expanded-row]="expandedElement2 == row"
                         (click)="expandedElement2 = row">
                </mat-row>
                <mat-row *matRowDef="let row; columns: ['expandedDetail2']; when: isExpansionDetailRow"
                         [@detailExpand2]="row  == expandedElement2 ? 'expanded' : 'collapsed'">
                </mat-row>
              </mat-table>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement1 === element"
          (click)="expandedElement1 = element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail1']" class="example-detail-row"></tr>
    </table>



  </div>



</div>
