<div class="stock">
  <h2>Informations sur le stock</h2>
  <div class="trait vert"></div>
  <div fxLayout="row" fxLayoutGap="30px" class="container" fxLayoutAlign="center center" *ngIf="infos != null">
    <mat-card class="example-card vert" >
      <mat-card-header >
        <mat-card-title class="vert">STOCK</mat-card-title>
        <mat-card-subtitle *ngIf="infos != null">{{infos.NbVehiculesDisponibles}} véhicules en stock</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card bleu">
      <mat-card-header>
        <mat-card-title class="bleu">HISTORIQUE DU STOCK</mat-card-title>
        <mat-card-subtitle *ngIf="infos!= null">Dernière mise a jour été effectuée le : {{infos.DateUploadStock.toString().substring(0,10)}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <mat-card class="example-card violet" >
      <mat-card-header >
        <mat-card-title class="violet">HISTORIQUE DES TARIFS</mat-card-title>
        <mat-card-subtitle *ngIf="infos != null">Dernière update a été effectuée le : {{infos.DateUploadTarif.toString().substring(0,10)}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>


  </div>

  <div fxLayout="row">
    <div fxFlex="70">
      <h2>Stock des véhicules </h2>
      <div class="trait bleu"></div>
    </div>
  </div>

  <div fxLayout="row" class="recherche">
    <div fxFlex="20" id="selector">
      <mat-select [(value)]="modelId" (selectionChange)="choisirModele($event)" placeholder="Choisissez un modèle">
        <mat-option>Choisissez un model</mat-option>
        <mat-option *ngFor="let modele of modeles" [value]="modele.CodeModele"> {{modele.NomModele}}</mat-option>
      </mat-select>
    </div>

    <div fxFlex="30"></div>
    <div fxFlex="45" class="recherche" fxLayoutAlign="center center">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="text" (keyup)="appliquerFiltre($event.target.value)"  placeholder="Rechercher dans le stock" value="">
        </mat-form-field>
      </form>
    </div>

  </div>

  <div class="example-container mat-elevation-z8">


    <table mat-table
           [dataSource]="stockDataSource" multiTemplateDataRows
           class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
        <td  mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail1">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail"
               [@detailExpand1]="element == expandedElement1 ? 'expanded' : 'collapsed'">
            <div class="example-element-description">
              <mat-table [dataSource]=element.Stock multiTemplateDataRows >
                <ng-container matColumnDef='NumChassis'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    N°CHASSIS
                  </mat-header-cell>
                  <mat-cell *matCellDef="let stock"> {{stock.vehicules[0].NumChassis}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Couleur'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    COULEUR
                  </mat-header-cell>
                  <mat-cell class="gras" *matCellDef="let stock" >
                    <div fxLayout="column" class="color-div">
                      <div class="circle-color"
                           [(colorPicker)]="stock.CodeHexa" [style.background]="stock.CodeHexa" >
                      </div>
                    </div>

                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef='Montant'>
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    PRIX MINIMAL
                  </mat-header-cell>
                  <mat-cell *matCellDef="let stock"> {{stock.Montant}} DZA </mat-cell>
                </ng-container>

                <ng-container matColumnDef='détail'>
                  <mat-header-cell *matHeaderCellDef>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let vehicule">
                    <a routerLink="." class="detail">+ détails </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="expandedDetail2">
                  <mat-cell *matCellDef="let stock">
                    <div class="detailVehicule" fxLayout="row">
                      <div fxFlex="30" fxLayout="column">
                        <h4>{{stock.vehicules[0].NumChassis}}</h4>
                        <h4> PRIX   {{stock.Montant}} DZA</h4>
                      </div>
                      <div fxLayout="column">
                        <h4> Options du véhicule</h4>
                        <ul slice>
                         <li *ngFor="let option of stock.options " >
                           {{option.NomOption}}</li>
                        </ul>

                      </div>
                    </div>

                  </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumnsVehicules"></mat-header-row>
                <mat-row *matRowDef="let row;  columns:  displayedColumnsVehicules;"
                         matRipple
                         class="element-row"
                         [class.example-expanded-row]="expandedElement2 == row"
                         (click)="expandedElement2 = expandedElement2 === row ? null : row">
                </mat-row>
                <mat-row *matRowDef="let row; columns: ['expandedDetail2']; when: isExpansionDetailRow"
                         [@detailExpand2]="row  == expandedElement2 ? 'expanded' : 'collapsed'">
                </mat-row>
              </mat-table>

            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="header-row"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement1 === element"
          (click)="expandedElement1 = expandedElement1 === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail1']" class="example-detail-row"></tr>
    </table>



  </div>



</div>
