<div fxLayout="column" fxLayoutAlign="center center">
  <h4>Our offers</h4>
  <div class="trait"></div>
  <p>Nous vous offrons plusieurs services que ce soit pour les fabricants ou les automoboliste</p>
  <div id="offers" class="mat-card-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="example-card">

      <img mat-card-image src="/assets/images/Icons/offre1.png" alt="Manage your stock">
      <mat-card-header flexLayout="row" fxLayoutAlign="center">
        <mat-card-title id="card1Title">Manage your stock</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque culpa, deleniti maxime ullam eos rem
          dolorem ipsam totam, iste placeat soluta r.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">

      <img mat-card-image src="/assets/images/Icons/offre2.png" alt="Manage your stock">
      <mat-card-header flexLayout="row" fxLayoutAlign="center">
        <mat-card-title id="card2Title">Manage your stock</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, numquam debitis officiis explicabo alias
          atque dolore hic? Numquam deleniti voluptatum iure ut quibusdam.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">

      <img mat-card-image src="/assets/images/Icons/offre3.png" alt="Manage your stock">
      <mat-card-header flexLayout="row" fxLayoutAlign="center">
        <mat-card-title id="card3Title">Manage your stock</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam fugit, earum iusto similique obcaecati
          molestias repudiandae vero hic aspernatur maiores expedita.
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</div>

