<div fxLayout="column" fxLayoutAlign="center center">
  <h4>Nos offres</h4>
  <div class="trait"></div>
  <p>Nous vous offrons plusieurs services que ce soit pour les fabricants ou les automoboliste</p>
  <div id="offers" class="mat-card-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="example-card">

      <img mat-card-image src="/assets/images/Icons/offre1.png" alt="Manage your stock">
      <mat-card-header flexLayout="row" fxLayoutAlign="center">
        <mat-card-title id="card1Title">Gérez votre stock</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Uploadez la liste des véhicules actuellement disponibles dans votre stock sous format csv et laissez notre
          application gérer votre stock.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">

      <img mat-card-image src="/assets/images/Icons/offre2.png" alt="Manage your stock">
      <mat-card-header flexLayout="row" fxLayoutAlign="center">
        <mat-card-title id="card2Title">Consultez vos commandes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Consultez les commandes en cours pour validation ou rejet. Si une commande est rejetée, le véhicule associé est immédiatement
          libéré. Si elle est validée, le véhicule associé n’est plus considéré disponible dans le stock.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">

      <img mat-card-image src="/assets/images/Icons/offre3.png" alt="Manage your stock">
      <mat-card-header flexLayout="row" fxLayoutAlign="center">
        <mat-card-title id="card3Title">Gérez les tarifs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Uploadez un fichier CSV contenant une liste de lignes de tarifs. Ce fichier
          sera utilisé pour le calcul des prix des véhicules pour les commandes.
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</div>

