<mat-dialog-content>
  <div  fxLayout="row" fxLayoutAlign="space-between start" >
    <div fxLayout="column">
      <h1 mat-dialog-title style="margin: 0">Ajouter un modele</h1>
      <div id="trait"></div>
    </div>
    <button mat-icon-button type="submit" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
<form [formGroup]="formulaire" (ngSubmit)="ajouterModele()" novalidate id="formulaireHtml">
  <div fxLayout="row wrap">
    <div fxFlex="25"
         fxFlex.md="33"
         fxFlex.sm="50"
         fxFlex.xs="100" fxLayout="column">
      <label>
        <span class="label">Code</span>
        <input matNativeControl matInput required formControlName="code" class="input">
      </label>
    </div>
    <div fxFlex="70"
         fxFlex.md="67"
         fxFlex.sm="50"
         fxFlex.xs="100" fxLayout="column">
      <label>
        <span class="label">Designation</span>
        <input matInput required formControlName="nom" class="input">
      </label>
    </div>
  </div>

  <div class="row optionDiv">
    <div class="col-11">
      <i class="material-icons">
        bookmarks
      </i>
      <span class="label">Options</span>
      <br/>
      <span>choisir parmis les options existantes</span>
      <br/>
      <div fxLayout="column" fxLayoutAlign="center start" id="options" *ngIf="optionsArray">
        <mat-checkbox color="primary" *ngFor="let opt of optionsArray" [value]="opt.CodeOption" [checked]="opt.Checked" (change)="gererOptions($event, opt)">{{opt.CodeOption}}  {{opt.NomOption}}</mat-checkbox>
      </div>
      <i class="material-icons iajouter" (click)="ajouterOption()">
        add
      </i>
      <span (click)="ajouterOption()" class="ajouter">Ajouter une option</span>
      <div formArrayName="options">
        <div *ngFor="let opt of optionsFormulaire.controls; let i=index" [formGroupName]="i" class="row" style="margin: 0">
          <div class="col-4">
            <label>
              <input class="inputOption" matInput formControlName="codeOption" placeholder="Code de l'option">
            </label>
          </div>
          <div class="col-4">
            <label>
              <input class="inputOption" matInput formControlName="nomOption" placeholder="Nom de l'option">
            </label>
          </div>
          <div class="col-3">
            <button mat-raised-button color="warn" (click)="supprimerOption(i)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row optionDiv">
    <div class="col-11">
      <i class="material-icons">
        party_mode
      </i>
      <span class="label">Couleurs</span>
      <br/>
      <span>choisir parmis les couleurs existantes</span>
      <br/>
      <div fxLayout="column" fxLayoutAlign="center start" id="options" *ngIf="couleursArray">
        <mat-checkbox color="primary" *ngFor="let clr of couleursArray" [value]="clr.CodeCouleur" [checked]="clr.Checked" (change)="gererCouleurs($event, clr)">{{clr.CodeCouleur}}  {{clr.NomCouleur}}</mat-checkbox>
      </div>
      <i class="material-icons iajouter" (click)="ajouterCouleur()">
        add
      </i>
      <span (click)="ajouterCouleur()" class="ajouter">Ajouter une couleur</span>
      <div formArrayName="couleurs">
        <div fxLayout="row wrap" *ngFor="let couleur of couleursFormulaire.controls; let i=index" [formGroupName]="i" class="row" >
          <div fxFlex="25"
               fxFlex.md="33"
               fxFlex.sm="50"
               fxFlex.xs="100" fxLayout="column" class="divInput">
            <input class="inputOption" matInput formControlName="codeCouleur" placeholder="Code" class="input">
          </div>
          <div fxFlex="25"
               fxFlex.md="33"
               fxFlex.sm="50"
               fxFlex.xs="100" fxLayout="column" class="divInput">
            <input class="inputOption" matInput formControlName="nomCouleur" placeholder="Nom" class="input">
          </div>
          <div fxFlex="20"
               fxFlex.md="12"
               fxFlex.sm="50"
               fxFlex.xs="100">
            <div fxLayout="column" class="circle-color" formControlName="codeHexa"
                 [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="changerCouleur(i, color)">
            </div>
          </div>
          <div  class="divInput">
            <button mat-icon-button  (click)="supprimerCouleur(i)">
              <mat-icon class="rouge" >delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
    <button type="submit" class="btn-ajout">Valider </button>
  </div>
</form>

</mat-dialog-content>
