mat-dialog-content{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

#formulaireHtml {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 90%;
}

#formulaireHtml > * {
  width: 100%;
}

#codeInput {
  width: 25%;
}

#designationInput {
  width: 50%;
}


div#trait {
  width: 60px;
  border-top: 3px solid #1abc9c;
  margin-bottom: 25px;
  margin-left: 2px
}
mat-icon{
  color: #ea1c0d;
}
.input {
  width: 80%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #fbfbfb;
  padding-left: 20px;
  font-family: 'Roboto-Bold','Sherif';
  margin: 10px;
  margin-top: 0;
  margin-bottom:10px;
}

.label {
  color: #34495e;
  line-height: 30px;
  margin-left: 15px;
  font-weight: bold;
  font-family: 'Roboto-Bold', 'Sherif';
}

#descriptionText {
  height: 150px;
}

i
{
  vertical-align: middle !important;
}

.options {
  color: #000000;
  font-family: Lato;
}


.optionDiv{
  div{
    padding: 3px 15px;
  }
}
.ajouter {
  color: #22c6a6;
  font-family: Roboto;
  cursor: pointer;
}

.iajouter {
  color: #22c6a6;
  cursor: pointer;


}

.inputOption {
  height: 30px;
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #fbfbfb;
}

.btn-ajout {
  width: 100px;
  height: 44px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 18px;
  background-image: linear-gradient(101deg, #34749f 0%, #22c6a6 100%);
  color: #ffffff;
}

mat-dialog-actions{
  position: fixed;
  bottom: 0;
}





