<div class="mat-card-wrapper" ng-app="myapp">
  <mat-card>
    <img src="/assets/images/Pics/tesla.jpg">
  </mat-card>
  <div class="container-nav" fxLayout="column" fxLayoutAlign="start center">
    <span fxFlex="17" class="slogan">Vendez vos véhicules à travers </span>
    <span fxFlex="10" class="slogan">une platforme de confiance</span>
    <span fxFlex="20"></span>
    <span fxFlex="8" class="description">SAYARA DZ est une platforme de vente de véhicules multi-marques</span>
    <span fxFlex="8" class="description">neufs par des fournisseurs locaux ou d'occasions entre particuliers</span>
    <span fxFlex="10"></span>
    <span fxLayout fxLayoutGap="70px" fxLayout="start center">
        <a mat-raised-button routerLink="." class="infosBtn">Plus d'informations</a>
        <a mat-stroked-button color="white" routerLink="." class="servicesBtn">Nos services</a>
      </span>
  </div>
</div>
